<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="bob">title Fragment</title>
</head>
<body>
<p th:fragment="bob">Paragraph Fragment</p>
<header th:fragment="header">
    <h1>My Application Header</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/meow}">Meow</a></li>
        </ul>
    </nav>
    <div><p>Welcome, <span th:text="${username}">User</span>!</p></div>
    <div th:if="${company != null}"> <p>Company, <span th:text="${company}">company</span>!</p> </div>
</header>
</body>
</html>
